<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Peregrino"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Copiloto"
        tools:targetApi="31">
        <activity
            android:name=".HistoricoConsumoActivity"
            android:exported="false" />
        <activity
            android:name=".CalculoResultadoActivity"
            android:exported="false" />
        <activity
            android:name=".CalculoPasso4Activity"
            android:exported="false" />
        <activity
            android:name=".CalculoPasso3Activity"
            android:exported="false" />
        <activity
            android:name=".CalculoPasso2Activity"
            android:exported="false" />
        <activity
            android:name=".calculoPasso1"
            android:exported="false" />
        <activity
            android:name=".BottomSheet"
            android:exported="false" />
        <activity
            android:name=".OcorrenciasActivity"
            android:exported="false" />
        <activity
            android:name=".ConsumoCombustivelActivity"
            android:exported="false" />
        <activity
            android:name=".RelatoriosActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroDeCorridaActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".PneusActivity"
            android:exported="false" />
        <activity
            android:name=".EditarVeiculoActivity"
            android:exported="false" />
        <activity
            android:name=".VeiculosActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>